/* Set the size of the div element that contains the map */
body {
    height: 100vh;
    display: flex;
}

.app-container{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 0 auto;
}

.app-container .navbar {
    display: flex;
}

section.stretch {
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside.sidebar{
    flex: 0 0 300px;
}

aside.sidebar h4 {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px 5px;
}

div#map {
    flex: auto;
}

.searchbox {
    width: 100%;
}

#largest-eqs-list {
    list-style: none;
    padding: 20px 0px;
    margin: 0;
}

#largest-eqs-list li {
    padding: 0 10px;
    font-size: .8rem;
    border-bottom: 1px gray solid;

}